.header {
    @media(max-width: 400px) {
	    &__logo {
	    	width: 70%;
	    	&-a {
	    		width: 100%;
	    	}
	    }
	}
	&__menu {
		text-align: right;
		@media(max-width: 991px) {
			text-align: center;
    		background-color: rgba(25, 12, 12, 0.07);
    		border-radius: 5px;
		}
		&-item {
			padding: 5px 15px !important;
			color: #000;
			font-family: "PN-regular";
			font-size: 1.1rem;
			line-height: 24px;
		}
	}
	.nav-link.active, .nav-link:focus {
	    background-color: transparent;
	    border: 1px solid #5f6365;
		border-radius: 31px;
	}
	.nav-link:hover {
		border: 1px solid rgba(95, 99, 101, 0.34);
		border-radius: 31px;
	}
	&-main {
		padding-top: 40px;
	    margin-bottom: 220px;
	    @media(max-width: 1366px) {
	    	margin-bottom: 100px;
	    }
	}
	&-additional {
		transition: 0.3s;
		position: absolute;
		visibility:hidden;
		opacity:0;
		left: 0;
		right: 0;
		z-index: 999;
		top: 0;
	    padding: 8px 0;
		background-image: -moz-linear-gradient( 16deg, rgb(73,0,124) 0%, rgb(231,0,136) 100%);
		background-image: -webkit-linear-gradient( 16deg, rgb(73,0,124) 0%, rgb(231,0,136) 100%);
		background-image: -ms-linear-gradient( 16deg, rgb(73,0,124) 0%, rgb(231,0,136) 100%);
		&_visible {
			position: fixed;
			visibility: visible;
			opacity: 1;
			z-index: 99999;
		}
	}
}